<hr class="hidden-md hidden-lg" />
<aside>
    <h5>Et un jour, La boite à bouillons&#8230;</h5>
    <p>
        Avec ce premier article, c&rsquo;est officiel, &#8230; La boite à bouillons, concentrée d&rsquo;intelligence collective est ouverte ! Vous vous demandez peut-être de quoi il s&rsquo;agit ? Mais nous aurons sans doute prochainement l&rsquo;occasion d&rsquo;échanger ensemble ? Avant toute chose, je vous livre ici « un extrait » de mon cheminement vers la création d&rsquo;entreprise, et une petite partie de ce qui m&rsquo;anime.
    </p>
    <p><a class="button" href="https://www.laboiteabouillons.fr/et-un-jour-la-boite-a-bouillons" rel="bookmark">Lire mon article</a>
    </p>
</aside>