<aside class="alignedTextFooter">
    <picture class="floatedImage">
        <source srcset="/images/logo/lbab-144x144.webp" type="image/webp">
        <img src="/images/logo/lbab-144x144.png" alt="Bulles de différentes couleurs s'échappant d'une boite cubique sur laquelle est écrit La boite à bouillons." />
    </picture>
    <h5><strong>CONTACT</strong></h5>
    <address>
        <a href="/la-fondatrice/" rel="author" title="La fondatrice">
            <svg class="symbol">
                <use xlink:href="/images/symbols.svg#link"></use>
            </svg>
            &nbsp;{{- .Site.Params.author -}}</a>
        <br />
        <svg class="symbol">
            <use xlink:href="/images/symbols.svg#map-pin"></use>
        </svg>
        &nbsp;{{- .Site.Params.address -}}
        <br />
        <a href="tel:{{.Site.Params.phoneref}}" rel="external" title="Appelez-moi!">
            <svg class="symbol">
                <use xlink:href="/images/symbols.svg#phone"></use>
            </svg>
            &nbsp;{{- .Site.Params.phonedisplay -}}
        </a>
        <br />
        <a href="mailto:{{.Site.Params.email}}" rel="external" title="Ouvre votre client de messagerie">
            <svg class="symbol">
                <use xlink:href="/images/symbols.svg#mail"></use>
            </svg>
            &nbsp;{{- .Site.Params.email -}}
        </a>
    </address>
    <p>Retrouvez-nous sur&nbsp;
        <a href="{{.Site.Params.facebook}}" title="Lien externe vers facebook" rel="external">
            <picture>
                <source srcset="/images/vendor/facebook-20x20.webp" type="image/webp">
                <img src="/images/vendor/facebook-20x20.png" alt="Logo de facebook" />
            </picture>
        </a></p>
</aside>