<footer>
    <div class="container responsive-padding">
        <div class="row">
            <div class="col-sm-12 col-md-7 col-lg-4">
                <aside class="alignedTextFooter">
                    <picture class="floatedImage">
                        <source srcset="assets/img/logo/lbab.svg" type="image/svg+xml" />
                        <img src="assets/img/logo/lbab-144x144.png" alt="Logo de la boite à bouillons" width="144"
                            height="144" />
                    </picture>
                    <h5><strong>CONTACT</strong></h5>
                    <p>Anne-Sophie&nbsp;Evrard<br />
                        La boite à bouillons - Nantes<br />
                        &#9743;&nbsp;<a href="tel:0663354236">06 63 35 42 36</a><br />
                        &#9993;&nbsp;<a
                            href="mailto:contact@laboiteabouillons.fr">contact@laboiteabouillons.fr</a><br />
                        Retrouvez-nous sur&nbsp;<a href="https://www.facebook.com/laboiteabouillons/"
                            title="Aller sur la page facebook de La boite à bouillons" rel="external">
                            <picture>
                                <source srcset="assets/img/vendor/facebook.svg" type="image/svg+xml" />
                                <img class="icon" src="assets/img/vendor/facebook.png" alt="Logo de facebook" width="20"
                                    height="20" />
                            </picture>
                        </a></p>
                </aside>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-8">
                <hr class="hidden-md hidden-lg" />
                <aside>
                    <h5>Et un jour, La boite à bouillons&#8230;
                    </h5>
                    <p>Avec ce premier article, c&rsquo;est officiel, &#8230; La boite à bouillons, concentrée
                        d&rsquo;intelligence collective est ouverte ! Vous vous demandez peut-être de quoi il
                        s&rsquo;agit ? Mais nous aurons sans doute prochainement l&rsquo;occasion d&rsquo;échanger
                        ensemble ?
                        Avant toute chose, je vous livre ici « un extrait » de mon cheminement vers la création
                        d&rsquo;entreprise, et une petite partie de ce qui m&rsquo;anime.
                    </p>
                    <p><a class="button" href="https://www.laboiteabouillons.fr/et-un-jour-la-boite-a-bouillons"
                            rel="bookmark">Lire mon article</a>
                    </p>
                </aside>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm">
                <aside>
                    <ul>
                        <li>Copyright&nbsp;&copy;&nbsp;La boîte à bouillons&nbsp;2020</li>
                        <li>Tous&nbsp;droits&nbsp;réservés</li>
                        <li><a title="Mentions légales" rel="next"
                                href="/lesprit/mentions-legales/">Mentions&nbsp;légales</a></li>
                        <li>Sitemap</li>
                        <li>RSS&nbsp;Feed</li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
</footer>
