<footer>
    <div class="container responsive-padding">
        <div class="row">
            <div class="col-sm-12 col-md-7 col-lg-4">

            </div>
            <div class="col-sm-12 col-md-5 col-lg-8">

            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm">
                <aside>
                    <ul>
                        <li>Copyright&nbsp;&copy;&nbsp;La boîte à bouillons&nbsp;2020</li>
                        <li>Tous&nbsp;droits&nbsp;réservés</li>
                        <li><a title="Mentions légales" rel="next"
                                href="/lesprit/mentions-legales/">Mentions&nbsp;légales</a></li>
                        <li>Sitemap</li>
                        <li>RSS&nbsp;Feed</li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
</footer>
