<header class="row sticky">
    <span class="logo">
        <a href="/" rel="home">
            <picture width="45" height="45">
                <source srcset="/images/logo/lbab-45x45.webp" type="image/webp">
                <source srcset="/images/logo/lbab-nobkg.svg" type="image/svg+xml">
                <img src="/images/logo/lbab-45x45.png" alt="Bulles de différentes couleurs s'échappant d'une boite cubique sur laquelle est écrit La boite à bouillons." width="45" height="45">
            </picture>
        </a>
    </span>
    <!-- ul -->
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    {{ if .HasChildren }}
    <!-- li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}" -->
    <a href="{{ .URL }}" class="button col-sm col-md hidden-sm">
        {{ .Title }}
    </a>
    <!-- ul class="sub-menu">
                {{ range .Children }}
                <li class="link {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                    <a href="{{ .URL }}" class="button hidden-sm">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul -->
    <!-- /li -->
    {{ else }}
    <!-- li -->
    <a href="{{ .URL }}" class="button col-sm col-md hidden-sm">
        {{ .Title }}
    </a>
    <!-- /li -->
    {{ end }}
    {{ end }}
    <!-- /ul -->
    <label for="drawer-control" class="button drawer-toggle col-sm"></label>
</header>
<div class="row">
    <input type="checkbox" id="drawer-control" class="drawer" value="on" />
    <nav id="nav-drawer" class="hidden-md hidden-lg">
        <h3>Menu</h3>
        <label for="drawer-control" class="button drawer-close"></label>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <a href="{{ .URL }}" rel="">{{ .Name }}</a>
        {{ if .HasChildren }}
        {{ range .Children }}
        <a class="sublink-1" href="{{ .URL }}" rel="">{{ .Name }}</a>
        {{ end }}
        {{ end }}
        {{ end }}
    </nav>
</div>