{{- $color := .Get "color" -}}
{{- $author := .Get "author" -}}
{{- $sitename := .Get "sitename" -}}
<p style="fill: currentColor;">
    <em>{{- .Inner | markdownify -}}</em>
    <strong style=" color:{{$color}};">
        {{- with .Get "siteurl" -}}
        <a href="{{.}}" rel="external">
            {{- $author -}},&nbsp;{{- $sitename -}}
            <svg class="symbol">
                <use xlink:href="/images/symbols.svg#external-link"></use>
            </svg>
        </a>
        {{- else -}}
        {{- $author -}},&nbsp;{{- $sitename -}}
        {{- end -}}
    </strong>
</p>